<br>
<br>
<br>

<div class="container">
  <form [formGroup]="form" >
    <div class="form-row">

      <div class="col-md-3 mb-3">
        <label for="idMinimo">Rango de Valores</label>
        <!--is-invalid-->
        <input 
          type="number"
          class="form-control" 
          [ngClass]="{ 
            'is-invalid': valid && form.get('maximum').touched,
            'is-valid': invalid && form.get('maximum').touched
          }" 
          name="minimum"
          placeholder="Minimo" id="idMinimo" aria-describedby="idMinimoFeedback"
          formControlName="minimum" required>

        <div id="idMinimoFeedback" class="invalid-feedback" data-error="wrong" data-success="right">
          Este valor debe ser menor al Maximo.
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <label for="idMaximo">.</label>
        <input 
          type="number" 
          class="form-control" 
          (keyup)="validateRange($event)"
          [ngClass]="{ 
            'is-invalid': valid && form.get('maximum').touched,
            'is-valid': invalid && form.get('maximum').touched
          }"
          placeholder="Maximo" id="idMaximo" aria-describedby="idMaximoFeedback" formControlName="maximum" required>
        <div id="idMaximoFeedback" class="invalid-feedback">
          Ingresa un numero valido por favor.
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="idNumber">Agregar Valor</label>
        <input type="number" class="form-control" id="idNumber" placeholder="Numero" aria-describedby="idNumberFeedback"
        formControlName="value" required>
        <div id="idNumberFeedback" class="invalid-feedback">Ingresa un numero valido por favor.</div>
      </div>
      <div class="col-md-2 mb-3">
        <label for="idButtomAgregar">.</label>
        <button class="form-control btn btn-primary" (click)="save()" id="idButtomAgregar">Agregar</button>
      </div>

    </div>
  </form>

  <div class="form-row">
    <div class="col-md-6 mb-3">
      <table class="table" id="idDatosTable">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of list; let i = index ">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ item }}</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col-md-4 mb-3">
      <label for="idMediaAritmetica">Media Aritmetica</label>
      <p class="text form-control" id="idMediaAritmetica">Media: {{value}}</p>

    </div>
    <div class="col-md-2 mb-3">
      <label for="idButtomMedia">.</label>
      <button class="form-control btn btn-primary" (click)="calcular()" id="idButtomMedia">Calcular</button>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-3 mb-3">
      <p id="idDatosCorrectos">Datos correctos: {{ count }}</p>
    </div>
    <div class="col-md-3 mb-3">
      <p id="idDatosIncorrectos">Datos incorrectos: {{ incorrectos }}</p>
    </div>

  </div>


</div>